<table align="center" height="100px" border="0" width="500px" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td class="blackbig" valign="top" height="0"><font class="blackbold" size="4">&nbsp; </font>
            <table width="99%" border="0" cellpadding="0" cellspacing="3" style="font-size:14px">
              <tbody>
                <tr>
                  <td width="5%"><div align="center" class="blackbig">•</div></td>
                  <td width="95%"><a href="faq.php#77" class="style11"><u>1. How much should I wait to see a difference?</u></a></td>
                </tr>
                <tr>
                  <td width="5%"><div align="center" class="blackbig">•</div></td>
                  <td width="95%"><a href="faq.php#1" class="style11"><u>2. What is the duration of Brainobrain programme?</u></a></td>
                </tr>
                <tr>
                  <td><div align="center">•</div></td>
                  <td><a href="faq.php#2" class="blackbig"><u>3. What is the purpose of Brainobrain Programme?</u></a></td>
                </tr>
                <tr>
                  <td><div align="center">•</div></td>
                  <td><a href="faq.php#3" class="blackbig"><u>4. When is my child eligible?</u></a></td>
                </tr>
                <tr>
                  <td><div align="center">•</div></td>
                  <td><a href="faq.php#4" class="blackbig"><u>5. What is unique about Brainobrain Syllabus?</u></a></td>
                </tr>
                <tr>
                  <td><div align="center">•</div></td>
                  <td><a href="faq.php#5" class="blackbig"><u>6. Will it help in further education?</u></a></td>
                </tr>
                <tr>
                  <td><div align="center">•</div></td>
                  <td><a href="faq.php#6" class="blackbig"><u>7. Does my child get individual attention?</u></a></td>
                </tr>
                <tr>
                  <td><div align="center">•</div></td>
                  <td><a href="faq.php#7" class="blackbig"><u>8. How do you check the quality?</u></a></td>
                </tr>
                <tr>
                  <td><div align="center">•</div></td>
                  <td><a href="faq.php#8" class="blackbig"><u>9. Please tell me more about daily practice?</u></a></td>
                </tr>
                <tr>
                  <td><div align="center">•</div></td>
                  <td><a href="faq.php#9" class="blackbig"><u>10. What would be the  improvements?</u></a></td>
                </tr>
                <tr>
                  <td><div align="center">•</div></td>
                  <td><a class="blackbig" href="faq.php#10"><u>11. Will children enjoy the program? </u></a> </td>
                </tr>
                <tr>
                  <td><div align="center">•</div></td>
                  <td><a class="blackbig" href="faq.php#11"><u>12. Whether my child can participate in Camps?</u></a> </td>
                </tr>
                <tr>
                  <td><div align="center">•</div></td>
                  <td><a class="blackbig" href="faq.php#12"><u>13. What would be the improvements? What difference?</u></a> </td>
                </tr>
                <tr>
                  <td><div align="center">•</div></td>
                  <td><a class="blackbig" href="faq.php#13"><u>14. Will it help in academics and any other?</u></a> </td>
                </tr>
                <tr>
                  <td><div align="center">•</div></td>
                  <td><a class="blackbig" href="faq.php#16"><u>15. Is this program for normal child?</u></a><a class="blackbig" href="faq.php#16"></a></td>
                </tr>
                </tbody>
            </table>
            <p align="justify"><br>
                <a name="1" id="1"></a>&nbsp;
                <span class="style22"><font size="2">1. How much should I wait to see a difference?</font></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="faq.php#top"><img src="images/arrow02.gif" width="15" border="0" height="15"></a><br>
                <br></p>
            <p class="style11">Brainobrain is a high quality program and if your child practices daily for 15 minutes, you will be amazed to see the changes gradually. The daily practice is mandatory to see the desired improvement. You can see noticeable changes in your child within 6 months i.e., by the time he completes 2 levels. However, observant parents will be able to see subtle yet very valuable improvements much earlier too.</p>
            
            <p align="justify"><br>
                <a name="1" id="1"></a>&nbsp;
                <span class="style22"><font size="2">2. What is the duration of Brainobrain programme?</font></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="faq.php#top"><img src="images/arrow02.gif" width="15" border="0" height="15"></a><br>
                <br></p>
            <p class="style11">Brainobrain Programme consists of 10 levels each level comprising of 3 months. Classes are held once in a week for 2 hours, usually on weekends. </p>
            <p class="style11">After every 3 months, the child moves up to the next level. All children irrespective of their age they enroll in to the 1st level and as they finish the 1st level in 3 months and they go on to the 2nd level. </p>
            <p><span class="style11">So by the end of 30 months your child would have completed the entire 10 levels and you will be amazed to see his performance and the empowerment that your child has acquired after every level.</span><br>
            </p>
            <p align="justify"><br>
                <br>
                <a name="2" id="2"></a><font size="2" class="style22"><b>3. What is the purpose of Brainobrain Programme? </b></font>&nbsp;<a href="faq.php#top"><img src="images/arrow02.gif" width="15" border="0" height="15"></a><br>
                <br></p>
            <p class="style11">The Purpose of Brainobrain Programme is to help children to achieve whole brain development i.e., to be able to use both sides of their brain. Usually we all are either left brain dominated or right brain dominated. We mostly use only one side of the brain. </p>
            <p class="style11">Studies around the world in brain development shows that any individual who are able to use both sides of their brain will be able to tap their resources to the maximum potential and hence will remain intelligent for life. They will be successful and highly competent in all spheres of life. It is a valuable gift that, as parents, we can offer to our children! You can be one among thousands of proud parents</p>
            <p class="style11">Brainobrain trains children to use both sides of their brain by offering exercises to sharpen both their logical and creative brains simultaneously. </p>
            <p><span class="style11">It is important to be observant parents, so that you may notice your child’s development to support them accordingly! You could see them acquire valuable skill sets outdoing their peers, becoming toppers at school as well as moving ahead in all round development!</span><br>
            </p>
            <br>
            <p align="justify"><a name="3" id="3"></a><font size="2" class="style22"><b>4. When is my child eligible? </b></font>&nbsp;&nbsp;&nbsp;<a href="faq.php#top"><img src="images/arrow02.gif" width="15" border="0" height="15"></a><br>
                <br>
                <span class="style11">There are a few simple criteria. They are </span></p>
            <p class="style11">Age: </p>
            <p class="style11">Brainobrain is for children from 5- 14 years. They can join at any age between 5 to 14 years. Of course the younger it is better! <br>
            </p>
            <p class="style11">Knowledge: </p>
            <p class="style11">Your child should know to recite and write numbers from 1 to 10. They should have started writing letters of the Alphabet. They should be able to copy simple words from the teacher’s writing.  Of course we will assist them in the process. <br>
                <br>
              Skill: </p>
            <p><span class="style11">Your child should be able understand and respond to simple sentences and communication that we use in our day to day life like, “what is your name?”, “what did you have for breakfast?”, “what is your father’s name, mother’s name?” etc. </span><br>
            </p>
            <p align="justify"><br>
                <a name="4" id="4"></a><font size="2" class="style22"><b>5. What is unique about Brainobrain Syllabus?</b></font>&nbsp;&nbsp;<a href="faq.php#top"><img src="images/arrow02.gif" width="15" border="0" height="15"></a><br>
                <br>
                Brainobrain is the  pioneer in the advanced abacus syllabus for its skill development programme.<br>
                <br>
    Brainobrain advanced syllabus is a unique rhyme  based curriculum which caters to all the basic senses of the learner like  visual, auditory &amp; kinesthetic, thus making it compelling.<br>
    <br>
    In Brainobrain, the child works less and achieves  more! This is due to the fact that the syllabus is not just mathematical; the  focus is on empowering the child’s entire neural networks.<br>
    <br>
    Brainobrain gives very little homework to kids. So  children enjoy the whole process as it is not taxing.<br>
    <br>
    Brainobrain’s syllabus is powerful enough to  challenge the child’s mental capabilities and thus helping them attain a  greater potential.<br>
    <br>
    Brainobrain Syllabus is so unique that children  have a all round development.<br>
    <br>
    To put it in a saying, &quot;We don’t give them fish;  we teach them how to catch fish&quot;<br>
                <br>
                <a name="5" id="5"></a><font size="2" class="style22"><b>6. Will it help in further education?</b></font>&nbsp;&nbsp;<a href="faq.php#top"><img src="images/arrow02.gif" width="15" border="0" height="15"></a><br>
                <br></p>
            <p>A 100% yes!<br>
              Brainobrain children enjoy a greater concentration  and a powerful memory. They have a sharp increase in their observation,  grasping and retention abilities. As a result they acquire better results with  less effort.<br>
      <br>
              Especially talking about academics, children enjoy  the Brainobrain experience. There is no more hard work, it is just smart work.  Kids spend less time but produce good results.<br>
      <br>
              Low achievers become high achievers. They have new  confidence and belief<br>
              system which helps them identify the leader in  them!<br>
      <br>
              Brainobrain makes and treats your child as a  leader and not as a follower!</p>
    <p class="style11"><font size="2" class="style22"><b>7. Does my child get individual attention?</b></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="faq.php#top"><img src="images/arrow02.gif" width="15" border="0" height="15"></a><br>
                <br></p>
            <p class="style11">Individual Attention is a key factor in Brainobrain. An ideal classroom is where a teacher matches her teaching styles to the individual learning styles of her children. So we really focus on your child and help him to blossom.</p> 
    <p>We also offer back up classes for children in a small group or on a one to one basis, as and when required to clear their doubts.
     </p>
            <p><span class="style11">As you support your child to do daily practice, you can be assured of an enriching experience. </span><br>
            </p>
            <p align="justify"><br>
                <span class="style22"><a name="7" id="7"></a><font size="2"><b>8. How do you check the quality?</b></font>&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;<a href="faq.php#top"><img src="images/arrow02.gif" width="15" border="0" height="15"></a><br>
                <br>
            </p><p class="style11">We do strictly have a  maximum of 15 kids in each batch to ensure individual attention. Our teachers  will be in rapport with your children to support them in their learning.<br>
              <br>
    We do have Back up System. Incase if your child  requires additional hours of training (apart from the regular classes) we  conduct back up classes for smaller groups of kids or at times even as a one to  one, as required.<br>
    <br>
    We have a Parent’s Feedback Form provided in all  our books for you to fill it up and handover the same to your center at the end  of each level. You will have the opportunity to express your views &amp; doubts  based on your child’s experience. You can also send us your views &amp; doubts  directly through email and we will get back to you.<br>
    <br>
    We conduct Regional &amp; National Competitions  every year for your child to take part. Our competitions are a powerful  experience which provides opportunities to learn valuable skills for life.  During competitions, children experience unique training strategies which  ensure a high quality performance</p>
            <p class="style11"><a name="8" id="8"></a><span class="style22"><font size="2"><b>9. Please tell me more about daily practice?</b></font>&nbsp;</span>&nbsp;&nbsp;<a href="faq.php#top"><img src="images/arrow02.gif" width="15" border="0" height="15"></a><br>
              <br>
              <span class="style11">Brainobrain helps your child acquire valuable Brain skills and life skills. So it is really important that your child does daily practice for 15 minutes effectively everyday. In order to practice daily, we will be giving small home works so that the child can do them as advised. Say the child has to do some on Monday while some on Tuesday and likewise. </span></p>
            <p class="style11">Brainobrain is such an enriching experience with lots of child centric activities spread 
              over in all 10 levels aimed at providing a wholesome experience to our children. We have 
              incorporated rich resources like NLP (Neuro Linguistic Programming), Mental 
              Gymnastics, etc </p>
            <p><span class="style11">You may always assist your child in learning those personality development tools, 
              puzzles in a way that you want to extend his learning. When it comes to Brainobrain 
              abacus and other technicalities please do it the way we have given you the information.</span><br>
            </p>
            <br>
            <a name="9" id="9"></a><font size="2" class="style22"><b>10. <strong>What would be the  improvements?</strong></b></font>&nbsp;&nbsp;&nbsp;<a href="faq.php#top"><img src="images/arrow02.gif" width="15" border="0" height="15"></a><br>
            <br>
            <p class="style11">The Brainobrain  course is a wholesome experience. It nurtures the mental formation of the  child. Therefore children find amazing improvements in various aspects.<br>
              <br>
    Children improve in their concentration, memory,  listening skills, learning ability, creativity, imagination, self confidence,  visualization, speed &amp; accuracy, problem solving skills, mathematical  proficiency and much more.<br>
    <br>
    Their marks and grades go up in school. They  develop a lot of skills, we otherwise do not address them consciously like  concentration, memory, imagination etc<br>
    <br>
    We do create awareness on the attitude. We have  creative ways of helping your child understand how important it is to have a  right attitude in life.<br>
    <br>
    We do talk about exemplars around the world and  get them modeling those key skills.<br>
    <br>
    Be it the academics or artistic abilities or attitude  or skills of life – We nourish them! Well, we cannot put them all in words! You  got to experience!<br>
    <br>
    We empower them with some of the world’s latest  development tools and strategies preparing them for a bright future!</p>
            <p class="style11">&nbsp;</p>
            <a name="10" id="10"></a><span class="style22"><font size="2"><b>11. Will children enjoy the program?</b></font>&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;<a href="faq.php#top"><img src="images/arrow02.gif" width="15" border="0" height="15"></a><br>
            <br>
            <p class="style11">Children’s enjoyment  is our top most priority! Anything that has an element of fun and learning will  be well received by kids. Brainobrain has got many dimensions in its course  which is absolutely kids friendly.<br>
              <br>
    Our children make it a point to attend all classes  with out fail. They really love Brainobrain and we do love them!</p>
            <p class="style11">&nbsp;</p>
            <br>
            <a name="11" id="11"></a><span class="style22"><font size="2"><b>12. Whether my child can participate in Camps?</b></font>&nbsp;</span>&nbsp;&nbsp;<a href="faq.php#top"><img src="images/arrow02.gif" width="15" border="0" height="15"></a><br>
            <br>
            <p class="style11">We do conduct 5 day NLP (Neuro Linguistic Programming) leadership Camps for children periodically. Children have a unique experience And we do have a special pricing for Brainobrain children. Based on your interest you may take part them. </p>
            <p class="style11">To know where our next camp is happening, you can check our website for the schedule. </p>
            <p class="style11"><br>
            </p>
            <p class="style11"><a name="12" id="12"></a><span class="style22"><font size="2"><b>13. What would be the improvements? What difference?</b></font>&nbsp;</span>&nbsp;&nbsp;<a href="faq.php#top"><img src="images/arrow02.gif" width="15" border="0" height="15"></a><br>
                <br>
                <span class="style11">The Brainobrain course is a wholesome experience. It nurtures the mental formation of the child. Therefore children find amazing improvements in various aspects. </span></p>
            <p class="style11">Children improve in their concentration, memory, listening skills, learning ability, creativity, imagination, self confidence, visualization, speed &amp; accuracy, problem solving skills, mathematical proficiency and much more.</p>
            <p class="style11">Their marks and grades go up in school. They develop a lot of skills, we otherwise do not address them consciously like concentration, memory, imagination etc </p>
            <p class="style11">We do create awareness on the attitude. We have creative ways of helping your child understand how important it is to have a right attitude in life. </p>
            <p class="style11">We do talk about exemplars around the world and get them modeling those key skills.</p>
            <p class="style11">Be it the academics or artistic abilities or attitude or skills of life – We nourish them! Well, we cannot put them all in words! You got to experience!</p>
            <p><span class="style11">We empower them with some of the world’s latest development tools and strategies preparing them for a bright future!</span><br>
            </p>
            <br>
            <a name="13" id="13"></a><font size="2" class="style22"><b>14. Will it help in academics and any other?</b></font>&nbsp;&nbsp;&nbsp;<a href="faq.php#top"><img src="images/arrow02.gif" width="15" border="0" height="15"></a><br>
            <br>
            <p class="style11">A 100% yes!<br>
              Brainobrain children enjoy a greater concentration and a powerful memory. They have a sharp increase in their observation, grasping and retention abilities. As a result they acquire better results with less effort. </p>
            <p class="style11">Especially talking about academics, children enjoy the Brainobrain experience. There is no more hard work, it is just smart work. Kids spend less time but produce good results.</p>
            <p class="style11"> Low achievers become high achievers. They have new confidence and belief <br>
              system which helps them identify the leader in them!</p>
            <p class="style11"> Brainobrain makes and treats your child as a leader and not as a follower!</p>
            <p class="style11">&nbsp;</p>
            <p><br>
            </p>
            <p class="style11"><font size="2"><b><a name="16" id="16"></a><span class="style22">15. Is this program for normal child?</span></b></font>&nbsp;&nbsp;&nbsp;<a href="faq.php#top"><img src="images/arrow02.gif" width="15" border="0" height="15"></a><br>
                <br>
                <span class="style11">Yes, Brainobrain course is for normal children.</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<br>
                <br>
            </p>
            </td>
        </tr>
      </tbody></table>
