<div class="row">
  <div class="col-md-12">
    <span class="title"> ABOUT US!!! </span>
    <p>
      Brainobrain Nigeria is Master Franchise of Brainobrain International Kids
      Academy of India.<br />
      Brainobrain have grown to a network of 600 successful franchise centres in
      16 countries made up of a rolling mass of women entrepreneurs, from
      different back grounds, different cultures, different languages, together
      under one common vision of helping our children to breath freely into
      their world of choice, in these days of marks craving education &
      stressful examinations.<br />
    </p>
    <p>
      Brainobrain deals  with Advanced Abacus, Neuro Linguistic Programming
      &amp; Personality Development, in our courses, which has been benefiting
      more than 75,000 students.
    </p>
    <p class="style1">MISSION</p>
    <p>
      Our Mission is to nurture the children in fun-filled environment for their
      whole brain development &amp; to prepare them to become better future
      leaders in whatever they do in their career life. Our aim is to promote
      heart-based education for everyone all over NIGERIA  &amp; world at large.
    </p>
    <p class="style1">VISION</p>
    <p>
      Our Vision is to pioneer a new era of child development in NIGERIA aimed
      at equipping our children – <strong>our future generation</strong> with
      skills that leads towards attainment of complete self-sufficiency by
      unleashing &amp; developing the whole brain at right age of childhood to
      take on tougher challenges of higher education &amp; profession.
    </p>
  </div>
</div>
