<div class="row">
  <div class="col-md-12">
    <span class="title">Course</span>
    <p>Brainobrain Programmes</p>
    <p>
      <strong>1</strong>.
      <strong>Abacus Skill Development Programme for Children</strong>
    </p>
    <blockquote>
      <p>
        • For Children of age 5-14 Years<br />
        • Each Level – 3 Months ; Total – 10 Levels<br />
        • Total Duration – 30 Months<br />
        • Weekly 2 Hours only<br />
        • Daily practice of 15 Min. essential at home.
      </p>
    </blockquote>
  </div>
</div>
