<div class="container">
  <app-slider></app-slider>
  <app-header></app-header>
  <div class="row">
    <div class="col-md-2">
      <div class="col-md-12">
        <marquee behavior="scroll" direction="up"
          ><p>{{ marquee }}</p></marquee
        >
      </div>
      <div class="col-md-12"><app-auth></app-auth></div>
      <div class="col-md-12">
        <img src="assets/img/Webicon_Little-Bobs.jpg" />
      </div>
      <div class="col-md-12"><img src="assets/img/tellAfrnd.jpg" /></div>
    </div>
    <div class="col-md-8"><router-outlet></router-outlet></div>
    <div class="col-md-2">
      <div class="col-md-12">
        <a routerLink="/std-enrolment"
          ><img src="assets/img/Brainobrain-StudentEnroll.jpg"
        /></a>
      </div>
      <div class="col-md-12">
        <a [routerLink]="['/enquiryform', 1]"
          ><img src="assets/img/student_enquire.jpg"
        /></a>
      </div>
      <div class="col-md-12">
        <a [routerLink]="['/enquiryform', 0]"
          ><img src="assets/img/Abacus-Enquiry.jpg"
        /></a>
      </div>
      <div class="col-md-12">
        <a [routerLink]="['/enquiryform', 2]"
          ><img src="assets/img/Faculty_enq_04.jpg"
        /></a>
      </div>
      <div class="col-md-12">
        <a [routerLink]="['/enquiryform', 3]"
          ><img src="assets/img/nlp_01.jpg"
        /></a>
      </div>
    </div>
  </div>

  <app-nowin></app-nowin>
</div>
