<span class="title">Franchisee Opportunity</span><br />
<p>
  Currently we are actively looking for inquiries for franchisee in various
  states. For details please review the information provided below or contact
  us.
</p>

<p>
  Since you visted our website so you have some interest in Brainobrain and if
  you have the interest in a business opportunity with us, We may help you to
  setup a business as a&nbsp;<strong>REGIONAL DEVELOPMENT FRANCHISE</strong
  >&nbsp;or&nbsp;<strong>AREA DEVELOPMENT FRANCHISE</strong>or&nbsp;<strong
    >franchise learning center</strong
  >.
</p>

<p>
  Please send the below information with strict confidence. Your information is
  treated as confidential and we shall not release personal information without
  your written consent, absent court order or other legal process.&nbsp;
</p>
<fieldset>
  <legend class="title">FRANCHISE FORM!</legend>
  <form>
    <div class="form-group row">
      <label for="fran2" class="col-sm-3 col-form-label">Franchise *</label>
      <div class="col-sm-9">
        <input name="fran" type="text" id="fran2" class="form-control tfield" />
      </div>
    </div>
    <div class="form-group row">
      <label for="cprof2" class="col-sm-3 col-form-label"
        >Current Profession*:</label
      >
      <div class="col-sm-9">
        <input
          type="text"
          name="cprof"
          id="cprof2"
          class="form-control tfield"
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label">Name*:</label>
      <div class="col-sm-9">
        <input name="name" type="text" id="name" class="form-control tfield" />
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-3 col-form-label">Email Address:</label>
      <div class="col-sm-9">
        <input
          name="email"
          type="text"
          id="email"
          class="form-control tfield"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="zip" class="col-sm-3 col-form-label">Zip Code:</label>
      <div class="col-sm-9">
        <input name="zip" type="text" id="zip" class="form-control tfield" />
      </div>
    </div>
    <div class="form-group row">
      <label for="address" class="col-sm-3 col-form-label">Address:</label>
      <div class="col-sm-9">
        <textarea
          name="address"
          id="address"
          cols="45"
          class="form-control tfield"
          rows="3"
        ></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-sm-3 col-form-label">Phone Number*:</label>
      <div class="col-sm-9">
        <input name="phone" type="tel" class="form-control tfield" id="phone" />
      </div>
    </div>
    <div class="form-group row">
      <label for="bestt" class="col-sm-3 col-form-label"
        >Best time to reach you*:</label
      >
      <div class="col-sm-9">
        <input
          name="besttime"
          type="text"
          id="bestt"
          class="form-control tfield"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="cash" class="col-sm-3 col-form-label"
        >Cash in hand to invest*:</label
      >
      <div class="col-sm-9">
        <input
          name="cashinhand"
          type="text"
          id="cash"
          class="form-control tfield"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="est" class="col-sm-3 col-form-label"
        >Estimated net worth*:</label
      >
      <div class="col-sm-9">
        <input
          name="networth"
          type="text"
          id="est"
          class="form-control tfield"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="how" class="col-sm-3 col-form-label"
        >How did you hear about brainobrain*:</label
      >
      <div class="col-sm-9">
        <select name="how" class="form-control tfield" id="how">
          <option>Radio ad</option>
          <option>Newspaper</option>
          <option>Search engine</option>
          <option>Friend/colleague</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="town" class="col-sm-3 col-form-label">Your comment:</label>
      <div class="col-sm-9">
        <textarea
          name="comm"
          class="form-control tfield"
          id="comm"
          cols="45"
          rows="3"
        ></textarea>
      </div>
    </div>

    <div class="form-group  ">
      <button class="btn btn-primary submit">Submit</button>
    </div>
  </form>
</fieldset>
<span class="title">Franchisee Testimonials </span>
<p class="style27">
  <font face="Verdana">My Journey with BRAINOBRAIN...</font>
</p>
<p class="MsoNormal" style="text-align:justify">
  <font color="#666666"
    ><span style="font-size: 10.0pt; font-family: MS Reference Sans Serif"
      >I’m Mrs Babita Baid, the franchisee and faculty of BRAINOBRAIN
      Mahalakshmi Layout, Bangalore. My journey with BOB began on 14<sup
        >th</sup
      >
      Feb 2005. I opened my centre on April 05 with just 15 kids and today I’ve
      successfully completed my 10<sup>th</sup> level training.</span
    ></font
  >
</p>
<p class="MsoNormal" style="text-align:justify">&nbsp;</p>
<p class="MsoNormal" style="text-align:justify">
  <font color="#666666">
    <span style="font-size: 10.0pt; font-family: MS Reference Sans Serif"
      >Like other friends of mine, I started just with a thought that I want to
      do something constructive in life along with my domestic life. I wanted to
      grow intellectually. I wanted something “PART-TIME” so that I could look
      after my kids and family and I wanted to be my own boss because I find it
      difficult to work under someone else as it curbs the liberty of thoughts
      and actions. Along with that I wanted to earn some pocket money and very
      small amount never attracted me much. And the problem was that I was just
      a graduate and I started thinking how I can achieve all this together. One
      of my friend suggested me to join BOB group and I thought let me start
      with something ‘small’ in the beginning and this is how I started my
      journey.</span
    ></font
  >
</p>
<p class="MsoNormal" style="text-align:justify">&nbsp;</p>
<p class="MsoNormal" style="text-align:justify">
  <font color="#666666">
    <span style="font-size: 10.0pt; font-family: MS Reference Sans Serif"
      >Today I’m totally a transformed person. What I thought was a small thing
      has given me “SO” much in my life. I’m very thankful to Mr.Ramki and
      Mr.Arul for this 100% support, without them BOB would not have been so
      successful!! I like all the faculty members too because everybody think
      and speak in same pattern. It’s so harmonious. I’m thankful to all my
      students on whom I could experience my talent and creativity. I get a lot
      of love, respect and enormous support from them and their parents. The
      best rewarding compliment I get from them is that “Your centre is so
      lively. Our kids feel free to express themselves and they like to attend
      the classes. They get a homely touch.” My success for this is that I work
      on their personal behavior to help them to change in their general
      behavior. I help them to change their fears into SMILES. Now I feel so
      proud to be a part of BOB family. I love my journey of this SUCCESS.
      Nothing can stop me from now onwards … because I’ve learnt enjoy the
      ‘PRESENT’.</span
    ></font
  >
</p>
<p class="MsoNormal" style="text-align:justify">&nbsp;</p>
<p class="MsoNormal" style="text-align:justify">
  <font color="#666666">
    <span style="font-size: 10.0pt; font-family: MS Reference Sans Serif"
      >&nbsp;I feel every woman has got enormous power within her. Only the
      first step is little difficult, once you dare to take that bold step then
      you’ll keep on finding ways and means to attain your goals in life.
      Initially some roadblocks may come your way, but they make you all the
      more strong and powerful. It was very wise decision of BOB management to
      take only female faculties.
    </span></font
  >
</p>
<p class="MsoNormal" style="text-align:justify">&nbsp;</p>
<p class="MsoNormal">
  <font color="#666666">
    <span style="font-size: 10.0pt; font-family: MS Reference Sans Serif"
      >What all I’ve got after being a BOB faculty is a long list …..… I want to
      share with you all.</span
    ></font
  >
</p>
<p>&nbsp;</p>
<p>
  <font color="#666666"
    ><span class="style23"
      ><span class="style24"
        ><font face="MS Reference Sans Serif">1.</font
        ><span
          style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span
      ></span
    ><span style="font-size: 10pt; font-family: MS Reference Sans Serif">
      Positive thinking</span
    ></font
  >
</p>
<p>
  <font color="#666666"
    ><span class="style23"
      ><span class="style24"
        ><font face="MS Reference Sans Serif">2.</font
        ><span
          style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span
      ></span
    >
    <span style="font-size: 10pt; font-family: MS Reference Sans Serif"
      >Self Confidence</span
    ></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 3.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif">
      Self esteem
    </span></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 4.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif">
      Financial independence
    </span></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 5.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif">
      Love and respect&nbsp;
    </span></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 6.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif">
      Recognition
    </span></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 7.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif">
      Perseverance
    </span></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 8.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif">
      Open mindedness
    </span></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 9.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif">
      Decision making power
    </span></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 10.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif"> </span
    ><span style="font-family: MS Reference Sans Serif"
      >Make best use of time
    </span></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 11.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif"> </span
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif">
      Reading habit
    </span></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 12.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif"> </span
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif">
      Emotional intelligence</span
    ></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 13.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif"> </span
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
    >
    </span
    ><span style="font-family: MS Reference Sans Serif">
      Handle challenges</span
    ></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 14.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif">
      Self satisfaction
    </span></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 15.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif">
      Learned to forgive &amp; forget
    </span></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 16.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif">
      Live in present
    </span></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 17.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif">
      Organizing and planning</span
    ></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 18.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif"
      >A better personality
    </span></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 19.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif">
      Lot of friends
    </span></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  <font color="#666666"
    ><font face="MS Reference Sans Serif"> 20.</font
    ><span
      style="font-style: normal; font-variant: normal; font-weight: normal; font-family: MS Reference Sans Serif"
      >&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><span style="font-family: MS Reference Sans Serif">
      Lots of HAPPINESS.
    </span></font
  >
</p>
<p
  class="MsoNormal style24"
  style="text-align: justify; text-indent: -.25in; margin-left: .25in"
>
  &nbsp;
</p>
<p class="MsoNormal style24" style="text-align:justify">
  <font color="#666666">
    <span style="font-family: MS Reference Sans Serif">And more……</span></font
  >
</p>
<p class="MsoNormal style24" style="text-align:justify"></p>
<p class="MsoNormal style24" style="text-align:justify">
  <font color="#666666"
    ><span style="font-size: 10.0pt; font-family: MS Reference Sans Serif"
      >Earlier I knew these words but practically didn’t keep a meaning in my
      life because I was a weakling. But now I’m strong enough to face
      challenges with a cool mind. These words have got a meaning in my
      life.</span
    ></font
  >
</p>
<p class="MsoNormal" style="text-align:justify">
  <font color="#666666">
    <span style="font-size: 10.0pt; font-family: MS Reference Sans Serif"
      >Today I’m happy and I’m powerful. My daughters are proud of me and I got
      support from my family members also.</span
    ></font
  >
</p>
<p class="MsoNormal" style="text-align:justify">
  <font color="#666666">
    <span style="font-size: 10.0pt; font-family: MS Reference Sans Serif"
      >I owe it to BRAINOBRAIN.</span
    ></font
  >
</p>
<p class="MsoNormal" style="text-align:justify">&nbsp;</p>
<p class="MsoNormal" style="text-align:justify">&nbsp;</p>
<p class="MsoNormal" style="text-align:justify">
  <span style="font-size: 10.0pt; font-family: MS Reference Sans Serif"
    ><span class="style41">Mrs Babita Baid</span></span
  ><font color="#666666"
    ><span style="font-size: 10.0pt; font-family: MS Reference Sans Serif"
      ><br />
      BRAINOBRAIN - Mahalakshmi Layout<br />
      Bangalore</span
    ></font
  >
</p>
