<div class="row">
  <div class="col-md-12">
    <span class="title">
      This is Brainobrain - The world of Self Empowerment For Children!!
    </span>

    <p>
      Brainobrain is one of the World’s leading institutes for empowering
      children by giving them the opportunities to acquire valuable skill sets
      and to excel in life. Our goal is to help children achieve the highest
      order of mental formation which will result in maximization of Brain
      Skills and Life Skills.
    </p>
    <p>
      Having its Corporate Office located in India, Brainobrain operates
      worldwide in 16 countries, such as India, UK, USA, Australia, Poland, UAE,
      Macedonia, Sweden, Thailand, Oman, Kenya, Zambia and Nigeria. Brainobrain
      has more than 600 successful franchise centers around the World.
      Brainobrain is a revolution today and has helped more than 75,000 children
      worldwide reach their learning potential thereby significantly improving
      the quality of their lives! We have several testimonials from delighted
      parents.
    </p>
    <p>
      After researching the prevalent methodologies for kids training, we feel
      very confident that the unique methodology (VAK) offered by Brainobrain
      far surpasses those of others. All of us want our children to excel and be
      competitive in today's market place. Please contact us to learn more about
      how Brainobrain can make a difference in your child's life!
    </p>
    <p align="left" class="style15">Brainobrain Courses</p>
    <p align="left" class="Pfont">
      ABACUS SKILL DEVELOPMENT COURSE (10 Levels)
    </p>
    <p>
      This is a unique skill development programme, where we nurture the
      children’s brain to develop some of the foundation skills for learning
      such as Memory, Visualisation, Concentration, Listening Skills, Learning
      Ability, Creativity, Self Confidence, Speed &amp; Accuracy, etc.,
    </p>
    <p>&nbsp;</p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="abacus"><span class="style10">Read more...</span></a>
    </p>
    <table width="100%" border="0">
      <tr>
        <td>
          <p><span style="color:#00F">VAK </span>METHODOLOGY</p>
          <p>
            BOB made use of scientific research done years ago for methods of
            learning. It is well know now that a child can learn fast...
          </p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
            href="abacus.php"
            ><span class="style10"> Read more...</span></a
          >
        </td>
        <td>
          <p><span style="color:#00F">BOB </span>NETWORK</p>
          <p>
            Global competition and tours to abroad countries - many of our
            counter parts in other countries hold international...
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><span style="color:#00F">TESTIMONIALS </span></p>
          <p>
            We offer very unique Skill Development Program based on Advanced
            Abacus &amp; NLP. We have association with internationally aclaimed
            NLP trainer ..Visit our blog for details
          </p>
        </td>
        <td>
          <span style="color:#00F">FAQ'S </span>
          <p>
            If you have the interest in Brainobrain Skill Development Program
            focused on Whole Brain Development for Children 4+ to 14 years of
            all abilities...
          </p>
        </td>
      </tr>
    </table>

    <hr />
  </div>
</div>
<app-testimonial></app-testimonial>
